@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-0;
  @apply sm:w-2;
}

body {
  @apply bg-gray-100;
  @apply dark:bg-black;
  font-family: "Nunito", "Noto Sans SC", sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  @apply gap-x-6 lg:gap-x-6;
}
.layout-footer{
  @apply text-sm text-gray-700 dark:text-gray-50; 
  @apply w-full h-full border-t-2 dark:border-gray-700;
  @apply flex justify-center items-center gap-x-3;
}

.i-container {
  width: calc(100% - 16px);
}

@media (min-width: 640px) {
  .i-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .i-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .i-container {
    max-width: 1024px;
  }
}

.base-bg {
  @apply bg-white;
  @apply dark:bg-neutral-950;
  @apply shadow dark:shadow-gray-700;
}

.base-text {
  @apply active:text-primary;
  @apply dark:text-slate-100;
  @layer text-base;
  @apply transition-colors duration-150;
}

.base-text:hover {
  @apply hover:text-primary;
  @apply dark:hover:text-primary;
}

.content-layout {
  display: flex;
  flex-direction: column;
}


@supports (padding: max(0px)) {
  /* 使用安全区域，如果浏览器支持 */
  .layout {
    grid-template-rows: 70px 1fr calc(env(safe-area-inset-bottom) + 46px);
  }

  .layout-footer {
    padding-bottom: env(safe-area-inset-bottom);
  }
}