---
import Icon from "./Icon.astro";
const today = new Date();
---

<footer
	class="layout-footer"
>
	<span>&copy; {today.getFullYear()} seventhse. All Rights Reserved.</span> 
	<Icon name="#ic-outline-rss-feed" />
</footer>
